:root {
    --primary-color: #4184ac;
    --secondary-color: #3ac3d8;
    --tertiary-color: #6a8b90;
    --accent-color: #FF9933;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Garamond, Times, serif;
}

body {
    background-color: var(--tertiary-color);
}

/* section headers */
    .section-head {
        text-align: center;
        width: 20%;
        margin: 10px auto;
        font-size: 2vw;
        color: var(--secondary-color);
        border-bottom: 2px solid var(--accent-color);
    }

/* header start */
    header {
        background-color: var(--primary-color);
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 9999;
    }
    
    /* title */
    .title-container {
        display: flex;
        width: 30%;
        justify-content: center;
        flex-direction: column;
        margin: 0 15px;
    }
    
    header a h1 {
        font-size: 25px;
        flex: 1;
        color: var(--secondary-color);
        text-shadow: 0 0 10px rgba(0, 0, 0, 50%);
        z-index: 9999;
    }
    
    header a h2 {
        font-size: 50px;
        flex: 1;
        color: var(--secondary-color);
        text-shadow: 0 0 10px rgba(0, 0, 0, 50%);
        z-index: 9999;
    }
    
    /* navigation */
    .nav-container {
        margin: 10px 15px;
    } 
    
    .nav-container ul {
        list-style: none;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .nav-container ul li {
        padding: 20px 15px;
        font-weight: lighter;
        font-size: 1.55vw;
    }
    
    .nav-container ul li a {
        color: var(--primary-color);
        background-color: var(--accent-color);
        border-radius: 20px;
        padding: 5px 3px;
    }
    
    .nav-container ul li a:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 50%);
        color: var(--accent-color);
        background-color: var(--secondary-color);
    }
/* header end */

/* side accent column */
    .side-bar {
        content: "";
        height: 100%;
        width: 30px;
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--primary-color);
    }

/* About me start */

    .WIA {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: var(--secondary-color);
    }

    /* title */
    .WIA h3 {
        color: var(--accent-color);
        border-color: var(--primary-color);
    }

    /* about info */
    .about-info-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-info-container img {
        height: 500px;
        margin-top: 30px;
    }

    .about-info-container p {
        font-size: 25px;
        margin: 25px 10px 10px 31px;
        width: 30%;
        text-align: right;
        color: whitesmoke;
    }

/* previous work */
    /* latest project */
    .latest-work {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .latest-work h3 {
        color: var(--accent-color);
        font-size: 25px;
        position: relative;
        left: 119px;
        top: -20px;
    }

    .latest-work a {
        width: 50%;
    }
    
    .latest-work img {
        width: 100%;
        margin: 10px auto;
        border: 3px hidden var(--accent-color);
    }

    .latest-work img:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 50%);
        border: 3px solid var(--accent-color);
    }